.work-experience {
  color: #b7eeff;
  text-align: center;
  width: 65vw;
}

.box-header {
  display: flex;
  background: none;
}

.box-title {
  float: left;
  color: aliceblue;
}

.box-date {
  text-align: right;
  flex-grow: 1;
  color: aliceblue;
}

.box-subtitle {
  color: aliceblue;
}

.box {
  text-align: left;
  margin: 20px;
  padding: 20px;
  --border-size: 3px;
  --border-angle: 0turn;
  width: 60vw;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
